<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 20px;
        }
        .card {
            margin: 15px;
            border: 1px solid #ddd;
            border-radius: 10px;
        }
        .productCard {
            padding: 20px;
        }
        .card h5 {
            font-weight: bold;
        }
        .card p {
            margin: 10px 0;
        }
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        h1, h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Administrar mis productos</h1>
        
        {{!-- aca van todos los productos --}}
        {{#if (eq products.length 0)}}
            <p>No hay productos disponibles.</p>
        {{else}}
            {{#if (ne userRole "admin")}}
                <p>Mostrando productos de: {{user}}</p>
            {{/if}}
            <div class="card-container">
                {{#each products}}
                    <div class="card" style="width: 25%;">
                        <div class="card-body productCard">
                            <h5 class="card-title"> {{this.title}}</h5>
                            <p class="card-text"> {{this.description}}</p>
                            <p>ID: {{this._id}}</p>
                            <ul>
                                <li>Precio: ${{this.price}}</li>
                                <li>Stock: {{this.stock}}</li>
                                <li>Categoría: {{this.category}}</li>
                                <li>Cod.: {{this.code}}</li>
                            </ul>
                            <form action="/api/products/admin/product/{{this._id}}" method="POST">
                                <button id="btnDeleteProduct" class="btn btn-secondary" type="submit">Eliminar Producto</button>
                            </form>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
    </div>

    {{!-- formulario para agregar productos --}}
    <h2 class="text-center">Agregar Productos</h2>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form id="addProductForm" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-control" name="title" id="title" placeholder="Título" required>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" name="description" id="description" placeholder="Descripción" required></textarea>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="price" id="price" placeholder="Precio" required>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="stock" id="stock" placeholder="Stock" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="category" id="category" placeholder="Categoría" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="code" id="code" placeholder="Código" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-secondary">Agregar Producto</button>
                </div>
            </form>
        </div>
    </div>

    {{!-- formulario para modificar y actualizar productos --}}
    <h2 class="text-center">Actualizar Productos</h2>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <p>Por favor indique el ID del producto que desea modificar. Complete el resto de los campos.</p>
            <form id="updateProductForm" action="/api/products/admin/product/update/:id" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-control" name="id" id="id" placeholder="ID del producto" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="title" id="title" placeholder="Título" required>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" name="description" id="description" placeholder="Descripción" required></textarea>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="price" id="price" placeholder="Precio" required>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="stock" id="stock" placeholder="Stock" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="category" id="category" placeholder="Categoría" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="code" id="code" placeholder="Código" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-secondary">Actualizar Producto</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>