<div class="container mt-5">
    <h1 class="text-center">Detalle del producto</h1>
    <div class="card" style="width: 50%;">
        <div class="card-body productCard">
            <h5 class="card-title"> {{this.title}}</h5>
            <p class="card-text"> {{this.description}}</p>
            <ul>
                <li>Precio: ${{this.price}}</li>
                <li>Stock: {{this.stock}}</li>
                <li>Categoría: {{this.category}}</li>
            </ul>
            <form action="/api/carts/products/{{id}}" method="POST">
                <button class="btn btn-secondary" type="submit">Agregar al carrito</button>
            </form>
        </div>
    </div>

    <div>
        <button class="btn btn-secondary" onclick="location.href='/api/products'">Volver a la página principal</button>
    </div>
</div>