<h1>Bienvenido {{first_name}}!</h1>
<button class="btn btn-secondary" onclick="location.href='/users/profile'">Ver mi perfil</button>

{{#if (ne role "user")}}
    <button class="btn btn-secondary" onclick="location.href='/api/products/admin/products'">Administrar productos</button>
{{/if}}

{{#if (ne role "admin")}}
    <button class="btn btn-secondary" onclick="location.href='/api/carts/{{cart}}'">Mi Carrito</button>
{{/if}}

<h2>Lista de Productos</h2>
{{#if products}}
<ul>
    {{#each products}}
    <li>
        <a href="/api/products/{{this.id}}">
            {{this.title}} - ${{this.price}}
        </a>
    </li>
    {{/each}}
</ul>
{{#if info}}
<div>
    {{#if info.hasPrevPage}}
    <a href="{{info.prevLink}}">Anterior</a>
    {{/if}}
    {{#if info.hasNextPage}}
    <a href="{{info.nextLink}}">Siguiente</a>
    {{/if}}
</div>
{{/if}}
{{else}}
<p>No hay productos disponibles.</p>
{{/if}}