<h1>Productos en tiempo real</h1>

<div>
    {{#each products}}
    <div class="product-item">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <ul>
            <li>Precio: ${{price}}</li>
            <li>Stock: {{stock}}</li>
            <li>Categoría: {{category}}</li>
        </ul>
        <button id="btnDeleteProduct" data-id="{{id}}">Eliminar Producto</button>
    </div>
    {{/each}}
</div>
{{!-- FORMULARIO PARA AGREGAR PROD --}}
<div>
    <h2>Agregar productos</h2>
    <p>Para agregar un producto complete el formulario</p>
    <form action="/realtimeproducts/addProduct" method="POST" id="addProductForm" enctype="multipart/form-data">
        <div class="mb-3" style="display: flex; flex-direction:column; width:20%; padding:10px;">
            <input type="text" class="form-control" name="title" id="title" placeholder="Título" required>
            <textarea class="form-control" name="description" id="description" placeholder="Descripción" required></textarea>
            <input type="number" class="form-control" name="price" id="price" placeholder="Precio" required>
            <input type="number" class="form-control" name="stock" id="stock" placeholder="Stock" required>
            <input type="text" class="form-control" name="category" id="category" placeholder="Categoría" required>
        </div>
        <div>
            <button type="submit" id="btnAddProduct">Agregar Producto</button>
        </div>
    </form>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>